/*Profile info*/

.profile-cont{
  color: white;
}

.progress-bar {
  margin-left: 2%;
  width: 85%;
  height: 20px;
  background: #86C232;
  border-radius: 15px;
}

.profile-info {
  padding: 1em;
  box-shadow: 0 0 2px 1px rgba(30,30,30, 0.7);
}

/*Friends  Container*/
.friends-container {
  padding: 1em;
  margin-top: 3em;
  box-shadow: 0 0 2px 1px rgba(30,30,30, 0.7);
}

.friends-container a {
  color: white;
}

.friends-container h6 {
  text-align: center;
  padding-top: 0.3em;
}

.folks-title {
  padding-left: 0.5em;
}

.friends-container img {
  width: 100px;
}

.container.two-friends {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.friend {

}

/*Folks Display*/
.folk {
  padding: 0.3em;
  width: 180px;
  display: inline-block;
}

.show-folks img {
  width: 100%;
}

.show-folks {
  padding: 0.3em;
  box-shadow: 0 0 2px 1px rgba(30,30,30, 0.7);
  background: rgba(255,255,255, 0.3);
}
