/*Profile Pic Style*/


.contains-prof-pic img {
  border: 8px solid white;
  box-shadow: 0 0 7px 2px rgba(91,70,73,0.5);
  width: 250px;
  height: 250px;
  border-radius: 50%;

}

.contains-prof-pic {
    padding-bottom: 4em;
}

.users-name {
  position: absolute;
  z-index: -1;
  top: 20%;
  color: white;
  left: 215px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(91,70,73,0.5);
  border: 3px solid rgba(91,70,73,0.8);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
