.header-container {
  display: flex;
  flex-direction: row;
  background: #5f4549;
  width: 100%;
}

.header-functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.title-logo {
  padding-left: 1em;
  padding-right: 4em;
}

.header-functions {
  padding: 0 1em;
}
