.header-container {
  display: flex;
  flex-direction: row;
  background: #222629;
  width: 100%;
}

.header-container a {
  color: #86C232
}

.header-container a:hover {
  color: #3edb30;
  text-decoration: none;
}

.header-functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.title-logo {
  padding-left: 1em;
  padding-right: 4em;
  font-family: 'Audiowide', cursive;
}

.header-functions {
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Cuprum', sans-serif;
}

.search-form {
  display: flex;
  flex-direction: row;
}

#search-bar {
  border-radius: 3em;
  padding: 0.2em 1em;
  box-shadow: none;
}

.header-container .fa {
  padding: 0.4em;
  background: #86C232;
  border-radius: 2px;
  margin: 0 0.7em;
}

.header-container .fa:hover {
  cursor: pointer;
  background: #61892F;
}


.btn-search {
  background: none;
  border: none;
}
