.navBar {
  height: 100%;
  border: 2px solid white;
}

ul {
  margin: 0;
  padding: 1.5em 0 1.5em 0;
  list-style-type: none;
}

.navBar li {
  list-style: none;
  padding: 1.3em 0.8em;
  text-align: left;
  margin: 0 0;
  font-weight: 500;
}

.navBar li:hover {

  background-color: #7b853f; background-image: -webkit-gradient(linear, left top, left bottom, from(#7b853f), to(#646c33));
  background-image: -webkit-linear-gradient(top, #7b853f, #646c33);
  background-image: -moz-linear-gradient(top, #7b853f, #646c33);
  background-image: -ms-linear-gradient(top, #7b853f, #646c33);
  background-image: -o-linear-gradient(top, #7b853f, #646c33);
  background-image: linear-gradient(to bottom, #7b853f, #646c33);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b853f, endColorstr=#646c33);

}

.navBar a {
  font-weight: 100;
  color: white;
}

.navBar a:hover {
  color: white;
  text-decoration: none;
}

.navBar a.active li {
  background: #343638;
  border-bottom: none;
  color: #7dcf3d;
}

.navBar a.active .fa {
  color: #7dcf3d;
}
