.col-2 {
  height: 100%;
  background: #5f4549; /*rgb(63,51,53);*/
  padding-right: 0;
}

/*.post-log {
  height: 100%;
  background-image: url('./images/sarf_jungle_background_by_mrcanavan.jpg');
  background-size: cover;
}*/

.col-10 {
  min-height: 100%;
  max-width: 82.15%;
}

.col-10.main {
  margin-top: 3em;
}

.container {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
}
