.col-2 {
  background: #474B4F; /*rgb(63,51,53);*/
  padding-right: 0;
  font-family: 'Cuprum', sans-serif;
}

/*.post-log {
  height: 100%;
  background-image: url('./images/sarf_jungle_background_by_mrcanavan.jpg');
  background-size: cover;
}*/

.col-10 {
  min-height: 71.5vh;
  max-width: 82.15%;
  font-family: 'Cuprum', sans-serif;
}

.col-10.main {
  margin-top: 3em;
}

.container {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
}

.App {
  background-color: #6B6E70;
}
